{% extends 'main/base.html' %}
{% block title %}Cписок сервисных заявок{% endblock %}
{% block style %}
<style>.doc_table {
  font-size: 12pt;
  font-family: Arial;
  color: black;
}</style>
{% endblock %}

{% block body %}

<br>
<div class="d-flex justify-content-between align-items-center" style="margin-left: 25px; margin-right: 25px;">
	<div class="btn-group" role="group" aria-label="Первая группа">
		<button type="button" class="btn btn-primary mt-3" onclick="filterTableButton('True')" id="btn-group-1">Активные заявки</button>
		<button type="button" class="btn btn-secondary mt-3" onclick="filterTableButton('False')" id="btn-group-2">Архив заявок</button>
		<a href="{% url 'create' %}" class="btn btn-success mt-3" id="btn-group-4">Создать новую заявку</a>
	</div>
		<a href="{% url 'filter' %}" class="btn btn-outline-secondary mt-3">Фильтр сервисных заявок</a>
</div>
<div style="margin-left: 25px; margin-right: 25px;">
	<input type="text" id="filterInput" placeholder="Введите значение для фильтрации" oninput="handleInput(event)"  style="width: 500px;">
	<input type="image" src="/static/admin/img/icon-deletelink.svg" alt="Очистить фильтр" title="Очистить фильтр" onclick="NullFilterTable()" style="width: 20px; height: 20px; margin-top: -10px;">
</div>
<table class="table_center_by_css table table-sm table-bordered" border="1" cellpadding="1" cellspacing="1" id="Table">
	<thead style="position: sticky;top: 0">
		<tr>
			<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center; width:400px" colspan="4"></td>
			<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center; width:300px;" colspan="3">Заявка принята</td>
			<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center; width:400px" colspan="2">Заявка передана</td>
			<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center; width:400px" colspan="4">Статус заявки</td>
			<td class="doc_table" scope="col" style="background: #ebebeb;text-align:center; width:400px" colspan="3"></td>
		</tr>
		<tr>
			<td class="doc_table" scope="col" id="N" data-column="N" style="background: #ebebeb;text-align:center; width:50px">№ п/п</td>
			<td class="doc_table" scope="col" id="address" data-column="address" style="background: #ebebeb;text-align:center; width:300px;">Адрес</td>
			<td class="doc_table" scope="col" id="num_house" data-column="num_house" style="background: #ebebeb;text-align:center; width:50px;">Номер дома</td>
			<td class="doc_table" scope="col" id="entrance" data-column="entrance" style="background: #ebebeb;text-align:center;">Подъезд</td>
			<td class="doc_table" scope="col" id="flat_or_tel" data-column="flat_or_tel" style="background: #ebebeb;text-align:center; width:300px;">Номер квартины или телефона</td>
			<td class="doc_table" scope="col" id="dispatcher" data-column="dispatcher" style="background: #ebebeb;text-align:center;">ФИО диспетчера</td>
						<td class="doc_table" scope="col" id="date_time_accepted" data-column="date_time_accepted" style="background: #ebebeb;text-align:center;">Дата и время приема заявки</td>
			<td class="doc_table" scope="col" id="mechanics" data-column="mechanics" style="background: #ebebeb;text-align:center;">ФИО механика</td>
						<td class="doc_table" scope="col" id="date_time_transfer" data-column="date_time_accepted" style="background: #ebebeb;text-align:center;">Дата и время передачи заявки</td>
			<td class="doc_table" scope="col" id="date_time_closed" data-column="date_time_closed" style="background: #ebebeb;text-align:center;">Дата и время закрытия заявки</td>
			<td class="doc_table" scope="col" id="simple" data-column="date_time_closed" style="background: #ebebeb;text-align:center;">Простой</td>
			<td class="doc_table" scope="col" id="malfunction_and_cause" data-column="malfunction_and_cause" style="background: #ebebeb;text-align:center;width:300px;">Неисправность и причина заявки</td>
			<td class="doc_table" scope="col" id="description" data-column="description" style="background: #ebebeb;text-align:center;">Примечания</td>
			<td class="doc_table" scope="col" id="move" style="background: #ebebeb;text-align:center; width:100px">Действия</td>
			<td class="doc_table" scope="col" id="status" style="display: none">status</td>
		</tr>
	</thead>
	<tbody id="tbody"></tbody>
</table>
{% endblock %}
{% block script %}
<script src="/media/js/filling_in_the_service_request_table.js"></script>
<script src="/media/js/filter_table_input.js"></script>
<script src="/media/js/filter_table_but.js"></script>
<script>
	// выполняется после полной загрузки страницы
	document.addEventListener("DOMContentLoaded", function () {
		//Сначала делаем заполнение таблицы данными
		let tbody = document.getElementById('tbody');

		{% for item in list %}
			addTableRow(`{{ item.id|safe }}`, `{{ item.address|safe }}`, `{{ item.num_house|safe }}`, `{{ item.entrance|safe }}`, `{{ item.flat_or_tel|safe }}`, `{{ item.date_time_accepted|safe }}`, `{{ item.dispatcher|safe }}`, `{% for mechanic in item.mechanics.all %}{{ mechanic.fio|safe }}{% if not forloop.last %}\n{% endif %}{% endfor %}`, `{{ item.date_time_closed|safe }}`, `{{ item.malfunction_and_cause|safe }}`, `{{ item.description|safe }}`, `{{ item.status|safe }}`, `{{ item.date_time_transfer|safe }}`, `{{ item.simple|safe }}`, true);
		{% endfor %}

		//Затем сортировка на открытые и закрытые СЗ
    	filterTableButton();
	});
</script>
{% endblock %}