{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}
{% block body %}
    <h4 style="text-align:center"><br />
        <a href="{% url 'list' %}" class="btn btn-outline-primary mt-3">Список сервисных заявок</a>
        <a href="{% url 'filter' %}" class="btn btn-outline-secondary mt-3">Фильтр сервисных заявок</a>
        <comment>
<!--        <a href="{% url 'address_list' %}" class="btn btn-outline-secondary mt-3">Список улиц</a>-->
<!--        <a href="{% url 'dispatcher_list' %}" class="btn btn-outline-success mt-3">Список диспетчеров</a>-->
<!--        <a href="{% url 'mechanics_list' %}" class="btn btn-outline-danger mt-3">Список механиков</a>-->
<!--        <a href="{% url 'routers_list' %}" class="btn btn-outline-warning mt-3">Список роутеров</a>-->
<!--        <a href="{% url 'simcard_list' %}" class="btn btn-outline-info mt-3">Список симкарт</a>-->
        </comment>
    </h4>
{% endblock %}